<div class="container">
  <h2><%= t('.title') %></h2>
  <p>所属する企業について登録してください</p><br>
    <%= form_with(model: @proprietorship, local:true)do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class:'field' %>
    </div>
    <div class="form-group">
      <%= f.label :info %>
      <%= f.text_area :info, class:'field' %>
    </div>
    <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image, accept: 'image/png, image/jpeg, image/gif' %>
    </div>
    <div class="form-group">
      <%= f.label :category_id %>
      <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
    </div>
    <div class="form-group">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
