<div class="">
  <h3><%= t('.info') %></h3>
  <p><%= @proprietorship.name %></p>
  <p><%= @proprietorship.info %></p>
  <% if @proprietorship.image.present? %>
    <p><%= image_tag @proprietorship.image.url %></p>
  <% end %>
</div>
<div class="member">
  <p><%= image_tag @user.user_image.url if @user.user_image.present? %></p>
</div>
