<div class="container">
  <div class="belonging_registration">
    <% if belonging_registration_path.present? %>
      <%= link_to t('.belonging_registration'), select_corporations_path %>
    <% end %>
  </div>
    <%= form_with(model: suggest, local: true, url: choose_path) do |f| %>
    <%# <%= form_with(model: suggest, local: true, url: choose_confirm_path) do |f| %>
      <div class="form-group">
        <%= f.hidden_field :image_cache %>
        <%# <% binding.pry %>
        <% suggest.tags.each do |tag| %>
          <%= f.hidden_field :tag_ids, id: tag.id, value: tag.id, maltiple: true %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_area :title, class: 'field' %>
      </div>
      <div class="form-group">
        <%= f.label :details %>
        <%= f.text_area :details, class: 'field' %>
      </div>
      <div class="form-group">
        <%# controllerで変数作成すると途中から画面遷移したときにTag.allがnillでエラーになる %>
        <% tags = Tag.all %>
        <%= f.collection_check_boxes :tag_ids, tags, :id, :name, include_hidden: false %>
      </div>
      <% count = 1 %>
        <%= f.fields_for :images do |ff| %>
        <div class="form-group">
          <p><%= ff.label "#{t('.file')}#{count}" %></p>
          <%= ff.file_field :image, accept: 'image/png, image/jpeg, image/gif' %>
          <% count += 1 %>
          <%# <%= ff.file_field :images, multiple: true, accept: 'image/png, image/jpeg, image/gif' %>
        </div>
        <% end %>
      <div class="form-group">
        <%= f.submit :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
