  <div class="belonging_registration">
    <% if belonging_registration_path.present? %>
      <%= link_to t('.belonging_registration'), select_corporations_path %>
    <% end %>
  </div>
<div class="container">
  <%# <%= form_with(model: @suggest, @tag, local: true, url: suggest_path(@suggest)) do |f| %>
  <%= form_with(model: @suggest, local: true, url: suggest_path(@suggest)) do |f| %>
  <div class="form-group">
    <%= f.hidden_field :image_cache %>
    <% @suggest.tags.each do |tag| %>
      <%= f.hidden_field :tag_ids, id: tag.id, value: tag.id, maltiple: true %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_area :title, class:'form-control field' %>
  </div>
  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, class:'form-control field' %>
  </div>
  <div class="form-group">
    <%# <% @tags = Tag.all %>
    <%# <% tag_array = [] %>
    <%# <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, { checked: @suggest.tag_ids.map(&:to_param) }, include_hidden: false %>
    <%# <% tags.each do |tag| %>
      <%# <%= f.check_box :tag_ids, { multiple: true }, tag.id, nil %>
      <%# <%= f.label tag.name %>
      <%# <% tag_array <<  [tag.name, tag.id] %>
    <%# <% end > %>

  </div>
  <% count = 1 %>
    <%= f.fields_for :images do |ff| %>
    <div class="form-group">
      <p><%= ff.label "#{t('.file')} #{count}" %></p>
      <%= ff.file_field :image, accept: 'image/png, image/jpeg, image/gif' %>
      <% count += 1 %>

    </div>
    <% end %>
  <div class="form-group">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
  <% end %>
  <div class="back">
    <%= link_to '戻る', admin_users_path %>
  </div>

  <div class="">
    <% if @suggest.images.present? %>
      <p>登録中の画像</p>
      <% @suggest.images.each_with_index do |image, idx| %>
        <!-- <p>画像　<%= "#{idx + 1}" %> : </p> -->
        <div class="img-items text-center">
          <%= image_tag image.image.url, class: "suggest-images img-fluid img-thumbnail rounded" if image && image.image.url.present? %>
        </div>
      <% end %>
    <% else %>
      <p>画像は未登録です</p>
    <% end %>
  </div>
</div>
