<!-- 企業登録確認 -->
<div class="belonging_registration">
  <% if belonging_registration_path.present? %>
    <%= link_to t('.belonging_registration'), select_corporations_path, class: 'ht-tm-element btn btn-block btn-outline-warning' %>
  <% end %>
</div>

<h1><%= t('.suggestions') %></h1>
<%# カテゴリ検索 %>
<%= form_with(url: suggests_path, method: 'get', local: true)do |f| %>
  <div class="form-group">
    <%= f.label t('.category_search') %>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
    <%= f.submit "#{t('.search')}", class: 'btn btn-primary' %>
  </div>
<% end %>

<% @suggests.each do |suggest| %>
  <div class="card suggest">
    <div class="card-body">
      <div class="title">
        <strong class="card-title"><%= t('.show') %>:
        <%= link_to suggest.title, suggest_path(suggest) %></strong>
      </div>
      <div class="info right">
        <div class="corp">
          <% corp_or_prop = corp_or_prop(suggest) %>
          <% if corp_or_prop %>
            <strong><%= t('.info') %>:</strong>
            <%= link_to corp_or_prop.name, choose_corp_or_prop_path(suggest) %>
          <% end %>
        </div>

        <div class="thumbnail">
          <% if suggest.user.user_image.present? %>
              <%= image_tag suggest.user.user_image.url, class: "user_image" %>
          <% else %>
            <% url = '' %>
            <%= image_tag url, class: "user_image" %>
          <% end %>
          <%= link_to "@#{suggest.user.user_name}", user_path(suggest.user.id) %>
        </div>
      </div>

      <div class="overview">
        <strong><%= t('.overview') %>:</strong>
        <p><%= suggest.details %></p>
      </div>

    </div>
    <div class="category" id="category">
      <%# 全権カテゴリ登録後if   %>
      <% if suggest.category %>
        <%= link_to suggest.category.name, suggests_path(category_id: suggest.category_id), class: 'ht-tm-element badge badge-pill badge-warning' %>
      <% end %>
    </div>
    <div class="tags" id="tags">
      <% suggest.tags.each do |tag| %>
        <i class="fa fa-tag "></i> 
        <%= link_to tag.name, suggests_path(tag: tag.id), class: 'ht-tm-element badge badge-light' %>
      <% end %>
    </div>
  </div>
<% end %>
<div class="container">
  <!-- <div class="row"> -->
    <%= paginate @suggests, theme: 'twitter-bootstrap-4' %>
  <!-- </div> -->
</div>
