<div class="belonging_registration">
  <% if belonging_registration_path.present? %>
    <%= link_to t('.belonging_registration'), select_corporations_path %>
  <% end %>
</div>

<h1><%= t('.suggestions') %></h1>
<%# カテゴリ検索 %>
<%= form_with(url: suggests_path, method: 'get', local: true)do |f| %>
<%# <%= form_with(scope: :search, method: get, local: true)do |f| %>
  <div class="form-group">
    <%= f.label t('.category_search') %>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
    <%= f.submit "#{t('.search')}", :class => 'btn btn-primary' %>
  </div>
<% end %>
<% @suggests.each do |suggest| %>
  <div class="">
    <p><%= t('.show') %>:
    <%= link_to suggest.title, suggest_path(suggest) %></p>
    <p><%= t('.overview') %></p>
    <%# 検証　引数なし→＠suggestsの場合のみOK %>
    <% if choose_corp_or_prop_path(suggest).present? %>
      <p><%= link_to t('.info'), choose_corp_or_prop_path(suggest) %></p>
    <% end %>

    <% if suggest.user.user_image.present? %>
      <p><%= image_tag suggest.user.user_image.url %></p>
    <% end %>

    <p><%= suggest.details %></p>

    <% suggest.tags.each do |tag| %>
      <%= link_to tag.name, suggests_path(tag: tag.id, class: 'btn btn-default') %>
    <% end %>
  </div>
<% end %>


<%# participantのindexで表示 %>
<%# <% if current_user.participant.suggests  .present %>
<%# link_to チャット %>
<%# <%= link_to t('.login'), new_user_session_path %>
<%# <%= link_to t('.registration'), new_user_registration_path %>
