<div class="">
  <strong><%= t('.title') %>:</strong>
  <h2><%= @suggest.title %></h2>

  <% if participants_find.present? %>
    <p><%= link_to t('.participants'), participants_path %></p>
  <% else %>
    <p><%= link_to t('.join'), participants_path(suggest_id: @suggest.id), method: 'post', class: 'btn btn-default' %></p>
  <% end %>

  <div class="">
    <% belonging = choose_corp_or_prop %>
    <%= link_to belonging.name, choose_corp_or_prop_path(@suggest) %>
  </div>
  <div class="">
    <% if @suggest.user.user_image.present? %>
      <p><%= image_tag @suggest.user.user_image.url %></p>
    <% end %>
    <p><%= @suggest.details %></p>
  </div>
  <div class="">
    <% @suggest.images.each do |image| %>
      <p><%= image_tag image.image.url, class: "suggest-images" %></p>
    <% end %>
  </div>
  <div class="">
    <%# コメント　非同期の場合 %>
  </div>
</div>
