<p><%= t('.sender', sender: @contact.user.email) %></p>
<h3><%= t('.greeting') %></h3>
<hr>
<strong>お問い合わせ内容: </strong><br>
<p><%= @contact.content %></p>
<hr>
<p><%= t('.contents') %></p>
<p><%= t('.ending') %></p>
<p><%= t('.note') %></p>
