<!-- 企業登録確認 -->
<div class="belonging_registration">
  <% if belonging_registration_path.present? %>
    <%= link_to t('.belonging_registration'), select_corporations_path %>
  <% end %>
</div>

<h1><%= t('.participants') %></h1>

<% @participants.each do |participant| %>
  <div class="card suggest">
    <div class="card-body">
      <strong class="card-title"><%= t('.show') %>:　<%= link_to participant.suggest.title, suggest_path(id: participant.suggest_id) %></strong>
      <p class="right"><%= link_to t('.unjoin'), participant_path(participant.id), method: 'delete', class: 'ht-tm-element btn btn-sm btn-outline-success' %></p>

      <div class="overview">
        <strong><%= t('.overview') %>: </strong>
        <p><%= participant.suggest.details %></p>
      </div>
      <div class="tags">
        <% participant.suggest.tags.each do |tag| %>
          <%= link_to tag.name, suggests_path(tag: tag.id), class: 'ht-tm-element badge badge-light' %>
        <% end %>
      </div>
      <div class="message right">
      <%# <div class="message right" id="room-<%= participant.suggest.id %>
        <% unless participant.suggest.room %>
          <%= link_to t('.create_room'), rooms_path(suggest_id: participant.suggest.id), method: 'post', class: 'ht-tm-element btn btn-dark' %>
        <% else %>
        <%# ローム複数の場合 %>
          <%= link_to t('.room_index'), rooms_path(participant.suggest.id), class: 'ht-tm-element btn btn-outline-dark' %>
          <%# ルーム単数の場合 %>
          <%# <%= link_to t('.room'), room_path(participant.suggest.room.id), class: 'ht-tm-element btn btn-outline-dark' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
