<!-- 企業登録確認 -->
<h1><%= t('.participants') %></h1>
<% if @participants.present? %>

  <% @participants.each do |participant| %>
    <div class="card suggest">
      <div class="card-body">
        <strong class="card-title"><%= t('.show') %>:　<%= link_to participant.suggest.title, suggest_path(id: participant.suggest_id) %></strong>

        <% unless participant.suggest.user == current_user %>
          <p class="right"><%= link_to t('.unjoin'), participant_path(participant.id), method: 'delete', class: 'ht-tm-element btn btn-sm btn-outline-success' %></p>
        <% end %>

        <div class="overview">
          <strong><%= t('.overview') %>: </strong>
          <p><%= participant.suggest.details %></p>
        </div>
        <div class="tags">
          <% participant.suggest.tags.each do |tag| %>
            <%= link_to tag.name, suggests_path(tag: tag.id), class: 'ht-tm-element badge badge-light' %>
          <% end %>
        </div>
        <div class="message right">
          <% unless participant.suggest.room %>
            <%= link_to t('.create_room'), rooms_path(suggest_id: participant.suggest.id), method: 'post', class: 'ht-tm-element btn btn-dark' %>
          <% else %>
            <%= link_to t('.room_index'), rooms_path(participant.suggest.id), class: 'ht-tm-element btn btn-outline-dark' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

<% else %>
  <div class="">
    <p>詳細画面からコメントの投稿や参加ができます。</p>
    <p>興味のある提案を探してみましょう！</p>
    <%= link_to '新規提案/プロジェクト一覧へ', suggests_path, class: 'ht-tm-element btn btn-outline-dark' %>
  </div>
<% end %>
