<h1><%= t('.room') %></h1>

<div class="">
  <strong><%= "#{t('.suggest')}: #{@suggest.title}" %></strong>

  <div id="messages">
  <%= render 'message', collection: @messages %>
  </div>
  
  <div class="">
    <input type="text" data-behavior="room_speaker" data-user="<%= current_user.id %>" data-room="<%= @room.id %>">
  </div>


  <%# data-behavior属性が指定できないので使わない %>
  <%# model ?? url?? %>
  <%# undefined method `model_name' for nil:NilClass %>
  <%# <% form_with(model: [@room, @message])do |f| %>
    <%# <%= f.text_area :text, class: "form-control" %>
    <%# <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
    <%# <%= f.submit "送信" %>
  <%# <% end %>
</div>
