<h1><%= t('.room') %></h1>
<div class="container chat-box">
  <strong><%= "#{t('.suggest')}: #{@suggest.title}" %></strong>
  <div id="messages">
    <%= render 'message', collection: @messages %>
  </div>
  <div class="chat">
    <%= t('.chat') %>
    <input type="text" data-behavior="room_speaker" data-user="<%= current_user.id %>" data-room="<%= @room.id %>" class="form-control" id="chat_input">
    <%= link_to t('.leave'), rooms_path, class: 'ht-tm-element btn btn-link' %>
  </div>
</div>
