<div class="container">
  <h1><%= t('.title') %></h1>

  <%# カテゴリ検索 %>
  <%= form_with(url: admin_users_path, method: 'get', local: true)do |f| %>
    <div class="form-group">
    <%= f.label t('.category search') %>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true %>
    <%= f.submit '検索', :class => 'btn btn-primary' %>
    </div>
  <% end %>
  <div class="count">
    <% total_count = Suggest.all.count %>
    <% if @suggests.present? && @suggests.last_page? %>
      <p><%= total_count %> 　件/全　<%= total_count %>  件</p>
    <% elsif @suggests.present? %>
        <p><%= @suggests.current_page * 20 %> 　件/全　<%= total_count %>  件</p>
    <% end %>
  </div>
  <div class="ht-hm-codeblock">
    <table class="table table-hover table-striped ht-tm-element">

      <thead class="thead-dark">
        <tr>
          <th><%= t('.suggest') %></th>
          <th><%= t('.details') %></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% @suggests.each do |suggest| %>
        <tbody>
          <tr>
            <th><%= link_to suggest.title, suggest_path(suggest.id) %></th>
            <td class="table_format"><%= suggest.details %></td>
            <td><%= link_to t('.delete'), suggest_path(suggest), method: 'delete', data: { confirm: t('.confirmation') }, class: "btn btn-danger btn-sm" %>
            </td>
            <td><%= link_to t('.edit'), edit_suggest_path(suggest.id), class: "btn btn-success btn-sm" %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <div class="">
    <%= paginate @suggests, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
