<div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#00b377;" >
    <%= link_to 'Meets Suggests & Abilities', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to t('.logout'), destroy_user_session_path, method: :delete, class:'nav-link', data: {"turbolinks"=>false} %>
          </li>
          <li class="nav-item">
            <%= link_to t('.edit account'), edit_user_registration_path, class:'nav-link', data: {"turbolinks"=>false} %>
          </li>
          <li class="nav-item">
            <%= link_to t('.contact'), new_contact_path, class:'nav-link' %>
          </li>
          <% if belonging_registration_path.present? %>
            <li class="nav-item">
              <%= link_to t('.belonging_registration'), select_corporations_path, class:'nav-link' %>
            </li>
          <% end %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t('.suggests projects') %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to t('.index'), suggests_path, class: 'dropdown-item', data: {"turbolinks"=>false} %>
              <%= link_to t('.post suggest'), new_suggest_path, class:'dropdown-item', data: {"turbolinks"=>false} %>
              <%= link_to t('.participants'), participants_path, class:'dropdown-item' %>
            </div>
          </li>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to t('.management screen'), admin_users_path, class:'nav-link' %>
            </li>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to t('.login'), new_user_session_path, class:'nav-item nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('.register'), new_user_registration_path, class:'nav-item nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
