<!DOCTYPE html>
<html>
  <head>
    <title>PartsDivice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <!-- アイコンtop -->
        <nav>
          <ul>
            <% if user_signed_in? %>
              <%= link_to t('.logout'), destroy_user_session_path(current_user.id), method: :delete, class:'right' %>
              <%= link_to t('.edit account'),  edit_user_registration_path(current_user.id), class:'right' %>
              <%= link_to t('.post suggest'), new_suggest_path, class:'right' %>
              <%= link_to t('.index'), suggests_path, class:'right' %>
              <%= link_to t('.participants'), participants_path %>
            <% else %>
              <%= link_to t('.login'), new_user_session_path, class:'right' %>
              <%= link_to t('.register'), new_user_registration_path, class:'right' %>
            <% end %>
          </ul>
        </nav>
      </ul>
    </header>
    <!-- devise -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p class="danger"><%= danger %></p>

    <% if @suggest && @suggest.errors.any? %>
      <p class="text-danger bg-danger"><%= @suggest.errors.count %> 件のエラーがあります。</p>
      <% @suggest.errors.full_messages.each do |msg| %>
        <p class="text-danger bg-warning"><%= msg %></p>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
