<!DOCTYPE html>
<html>
  <head>
    <title>PartsDivice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>
    <!-- BootStrap4 -->
    <%# gem導入済 %>
    <%# <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <% if notice %>
        <div class="ht-tm-element alert alert-dismissible fade show alert-secondary">
          <p class="notice"><%= notice %></p>
        </div>
      <% end %>
      <% if danger %>
        <div class="ht-tm-element alert alert-dismissible fade show alert-danger">
          <p class="danger"><%= danger %></p>
        </div>
      <% end %>
      <% if warning %>
        <div class="ht-tm-element alert alert-dismissible fade show alert-warning">
          <p class="warning"><%= warning %></p>
        </div>
      <% end %>

      <!-- <p class="alert"><%= alert %></p> -->

      <% if @suggest && @suggest.errors.any? %>
        <p class="text-danger"><%= @suggest.errors.count %> 件のエラーがあります。</p>
        <% @suggest.errors.full_messages.each do |msg| %>
          <p class="text-danger ht-tm-element alert alert-dismissible fade show alert-danger"><%= msg %></p>
          <!-- <p class="text-danger bg-warning"><%= msg %></p> -->
        <% end %>
      <% end %>

      <% if @contact && @contact.errors.any? %>
      <p class="text-danger"><%= @contact.errors.count %> 件のエラーがあります。</p>
      <% @contact.errors.full_messages.each do |msg| %>
        <p class="text-danger text-danger ht-tm-element alert alert-dismissible fade show alert-danger"><%= msg %></p>
      <% end %>
    <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
